{% extends './base.html' %}
<!-- title -->
{% block title %} lenguajes {% endblock %}
<!-- body -->
{% block body %}
<div class="row">
	<div class="col-md-8 offset-2">
		<h1>Lenguajes de programacion</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Lenguaje</th>
						<th scope="col">Porcentaje</th>
					</tr>
				</thead>
				<tbody>
					{% for leng in lenguajes %}
					<tr>
						<th scope="row">{{loop.index}}</th>
						<td>{{leng}}</td>
						<td>Otto</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
